td, th {
	border: 1px solid;
  }
  
header {
  position: relative;
  margin-bottom: 10px;
}


#planets {
  width: 90%; 
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #546a6e;
}


#planets th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  color: #373838;
}


#planets td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}


body {
  font-family: Arial, Verdana;
  background-color:#e8e1f5;
  padding: 20px;
  color: #f7f7ed;
  
  
}

h1 {
  text-align: center;
  font-family: Muli, Serif;
  font-size: 3em;
  color: #485963;
  font-style: italic;
  
}

footer {
  text-align: right;
  font-size: 1em;
  color: #1f1919;
  font-family: Courier, Tahoma;
  font-style: Oblique;

}

#planets td img {
  width: 50px;
  height: auto;
}

.heading {
  text-align: center;
  font-weight: bold;
}

#planets th:hover {
  background-color: #64918a; 
}
