td, th {
	border: 1px solid;
  }


#planets {
  width: 80%; 
  margin: 0 auto;
  border-collapse: collapse; 
}


#planets th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}


#planets td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}


body {
  padding: 20px;
}

h1 {
  text-align: center;
}

  
