td, th {
	border: 1px solid;
  }
  
header {
  position: relative;
  margin-bottom: 10px;
}


#planets {
  width: 80%; 
  margin: 0 auto;
  border-collapse: collapse; 
}


#planets th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}


#planets td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}


body {
  font-family: Arial, Verdana;
  background-color: #546a6e;
  padding: 20px;
  
  
}

h1 {
  text-align: center;
  font-family: Muli, Serif;
  font-size: 3em;
  color: #485963;
  font-style: italic;
  
}

  
